@model ClearWebWs01.ViewModels.AppDataViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="jscript">
    allFields = $([]).add("#activationCode");
    dialogWnd = $("#dialog");
    
    function checkIsNumber(o, msg) {
        regexp = /^\d{4}$/;
        if (!regexp.test(o.val())) {
            o.addClass("ui-state-error");
            updateTips(msg);
            return false;
        }
        alert("pass");
        return true;
    }

    function updateTips(t) {
        $("#validateTips")
            .text(t)
            .addClass("ui-state-highlight");
        setTimeout(function () {
            $("#validateTips").removeClass("ui-state-highlight", 1500);
        }, 500);
    }

    function addDevice() {
        if (!checkIsNumber($("#activationCode"), "A 4 digit code is expected.")) {
            return false;
        }
        $.ajax({
            url: '/dashboard/BindDeviceToThisUser/' + $("#activationCode").val(),
            method: 'PUT',
            success: function (data) {
                if (data.success) {
                    alert("success");
                }
                else {
                    alert(data.message);
                }
            },
            error: function (data) {
                alert("failure");
            }
        });
    }

    $(function () {
        $("#dialog").dialog({
            autoOpen: true,
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Add Device": addDevice
            },
            close: function () {
                allFields.removeClass("ui-state-error");
            }
        });
        $("#dialog").dialog("close");
    });
</script>

<h1>Dashboard</h1>

<!-- Initially hidden modal dialog for collecting the Activation Code -->
<div id="dialog" title="Add a Device">
    <p id="validateTips">The Activation Code will be a 4 digit number.</p>
    <p>Enter the Activation Code:</p>
    <input id="activationCode" type="text" />
</div>
</>
<div>
    <!-- OWNED DEVICES SECTION-->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="card-title">Devices You Own</h4>
        </div>
        <div class="card-body">
            @if (Model == null || Model.DeviceList.Count() == 0)
            {
                <p>There are no devices in your "Owned" list yet.</p>
                <p>
                    Click <a href = "#" onclick = "$('#dialog').dialog('open');" >here</a> to activate a device.
                </p>
            }
                else
                {
                    <partial name="_DevicesList" model="@Model" />
                    <table>
                        <tbody>
                            @foreach (var item in Model.DeviceList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Guid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OnPremLocation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GeoLocation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupId)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>
                <p>
                    <a href="#" onclick="$('#dialog').dialog('open');">Add a Device</a>
                </p>
            }
        </div>
    </div>
    <!-- ASSOCIATED DEVICES SECTION -->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="card-title">Devices Others Own That You Can Manage</h4>
        </div>
        <div class="card-body">
        </div>
    </div>
    <!-- SUBSCRIPTIONS -->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="card-title">Your Subscriptions</h4>
        </div>
        <div class="card-body">
            something here...
        </div>
    </div>
</div>

